*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(59, 59, 59);
     color: #fff;
}
.logOut-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
#signOut{
    margin-top: 2rem;
    margin-right: 2rem;
}
.flex-container{
    width: min(800px, 90%);
    margin: auto;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
#newTask{
   border: none;
   padding: .5rem;
   outline: none;
   border-radius: .25rem;
   background-color: rgba(0, 0, 0 , .3);
   color:#fff;
   width: min(300px, 66%);
}
#addTasks{
    color: rgb(1, 172, 1) !important; 
    margin-left: 4px;
}

#addTasks:hover{
    background-color: rgba(0, 0, 0 , .5);
    color: rgb(1, 172, 1);
    transition: 300ms;
}
ul{
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
li{
    margin-top: .5rem;
    width: min(300px, 66%);
}
.checked{
    text-decoration: line-through;
}
.checked::before{
    content: '✅';
    font-size: 1.1rem;
}
.li-container{
    display: flex;
    margin-top: 1.5rem;
}
.btn{
    padding: .5rem;
    border: none;
    margin-left: .6rem;
    outline: none;
    border-radius: .25rem;
    width: 5rem;
    background-color: rgba(0, 0, 0 , .3);
    color: tomato;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0 , .5);
    transition: 300ms;
}

/* Registration style */

.main-content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email,
#password,
#signUp,
#signIn{
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: .2rem;
}

#signUp,
#signIn{
    background-color: blue;
    outline: none;
    border: none;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
}
#signIn{
    background-color: green;
}
